numpy==1.19.5
pandas
jieba==0.42.1
opencc-python-reimplemented==0.1.4
pypinyin==0.42.0
six==1.15.0
tqdm==4.48.2
pyahocorasick==1.4.2
LAC==2.1.2
Pillow==8.3.1
python_Levenshtein==0.12.2
rich==10.7.0
scikit_learn==0.24.2
pytest==6.0.1
TorchCRF
Flask==1.1.2
gevent==20.9.0
flask_restful==0.3.8
requests==2.25.0
torch==1.7.1+cu101
psutil
torchvision==0.8.2+cu101
transformers==4.7.0
fastapi==0.78.0
uvicorn==0.16.0